*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-color: rgb(165, 130, 83); */
    background-image: url(chocolate.png);
    background-size: cover;
}

#navbar{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: rgb(12, 12, 32);
}

a{
    text-decoration: none;
}

a:visited{
    color: whitesmoke;
}

#name{
    color: whitesmoke;
    font-size: 24px;
    padding: 15px;
}

#cart-logo{
    display: flex;
    justify-content: center;
    padding-top: 19px;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
    padding-right: 15px;
}

#icon-name{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    cursor: pointer;
}

#first{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

#box1{
    padding: 120px;
    background-image: url(burger.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.4);
}

#box2{
    padding: 120px;
    background-image: url(fries.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.4);
}

#box3{
    padding: 120px;
    background-image: url(pizza.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.4);
}

#box4{
    padding: 120px;
    background-image: url(ramen.webp);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.4);
}

#box5{
    padding: 120px;
    background-image: url(coffee.webp);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.4);
}

#box6{
    padding: 120px;
    background-image: url(cake.webp);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.4);
}

#second{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

#burger-plus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#fries-plus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#pizza-plus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#ramen-plus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#coffee-plus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#cake-plus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#burger-minus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#fries-minus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#pizza-minus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#ramen-minus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#coffee-minus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#cake-minus{
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 5px;
}

#b{
    padding: 3px;
    background-color: rgb(205, 176, 142);
    color: black;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
}

#f{
    padding: 3px;
    background-color: rgb(205, 176, 142);
    color: black;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
}

#p{
    padding: 3px;
    background-color: rgb(205, 176, 142);
    color: black;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
}

#r{
    padding: 3px;
    background-color: rgb(205, 176, 142);
    color: black;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
}

#co{
    padding: 3px;
    background-color: rgb(205, 176, 142);
    color: black;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
}

#ca{
    padding: 3px;
    background-color: rgb(205, 176, 142);
    color: black;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
}

#burger{
    padding-top: 24px;
}

#fries{
    padding-top: 24px;
    padding-left: 70px;
    padding-right: 70px;
}

#coffee{
    padding-top: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
}

#ramen{
    padding-top: 24px;
    padding-bottom: 40px;
}

#pizza{
    padding-top: 24px;
}

#cake{
    padding-top: 24px;
    padding-bottom: 40px;
}

#foot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    color: whitesmoke;
    font-weight: 800;
    font-size: 24px;
}